<header class="header">
  <div class="header__wrapper wrapper">
    <div class="header__logo">
      <a href="#!" class="header__logo-link">
        <img
          src="../assets/icons/logo.svg"
          alt="logo"
          class="header__logo-image"
        />
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item">
          <a href="#home" class="header__link">Home </a>
        </li>
        <li class="header__list-item">
          <a href="#services" class="header__link">Services </a>
        </li>
        <li class="header__list-item">
          <a href="#portfolio" class="header__link">Portfolio</a>
        </li>
        <li class="header__list-item">
          <a href="#about" class="header__link">About</a>
        </li>
        <li class="header__list-item">
          <a href="#blog" class="header__link">Blog</a>
        </li>
      </ul>
      <div class="header__button mobile">Contact Us</div>
    </nav>
    <div class="header__button">Contact Us</div>
    <div class="header__burger burger">
      <span class="burger__line burger__line_first"></span>
      <span class="burger__line burger__line_second"></span>
    </div>
  </div>
</header>
