<section class="integrate">
  <div class="integrate__wrapper wrapper">
    <div class="integrate__pic-container animate-container">
      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img src="../assets/icons/CRM.svg" alt="CRM" class="animate__pic" />
          <span class="animate__pic-name">CRM</span>
        </div>
      </div>

      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img
            src="../assets/icons/analitics.svg"
            alt="Analytics"
            class="animate__pic"
          />
          <span class="animate__pic-name">Analytics</span>
        </div>
      </div>
      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img
            src="../assets/icons/database.svg"
            alt="Database"
            class="animate__pic"
          />
          <span class="animate__pic-name">Database</span>
        </div>
      </div>
    </div>
    <h2 class="integrate__title">
      <span class="title-word">Integrate</span>
      <span class="title-word">anything</span>
    </h2>
  </div>
</section>
