<section class="intro">
  <div class="intro__wrapper wrapper">
    <div class="intro__title-box mobile">
      <h1 class="intro__title">
        <span>We build</span>
        <span>Composable</span>
        <span>Content Systems.</span> <span>Fast and Scalable.</span>
      </h1>
      <p class="intro__text mobile">
        From Modular Marketing Websites <br />to AI-enriched content editing
        experiences. Experts in CMS, eCommerce and SEO.
      </p>
    </div>
    <div class="intro__bottom">
      <div class="intro__rating-box">
        <div class="intro__logo">
          <img
            src="../assets/icons/logo-clutch.svg"
            alt="Clutch"
            class="intro__logo-image"
          />
        </div>
        <div class="intro__stars-box">
          <div class="intro__stars">★★★★★</div>
          <div class="intro__score">4.9</div>
        </div>
      </div>
      <p class="intro__text">
        From Modular Marketing Websites <br />to AI-enriched content editing
        experiences. Experts in CMS, eCommerce and SEO.
      </p>
      <div class="intro__circle-box">
        <div class="intro__circle">X</div>
        <div class="intro__circle">LI</div>
        <div class="intro__circle">FB</div>
      </div>
    </div>
  </div>
</section>
