<section class="ship">
  <div class="ship__wrapper wrapper">
    <h2 class="ship__title">
      <span class="ship-word">ship </span>
      <span class="ship-word">everywhere</span>
    </h2>
    <div class="ship__pic-container animate-container">
      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img
            src="../assets/icons/ecommerce.svg"
            alt="Ecommerce"
            class="animate__pic"
          />
          <span class="animate__pic-name">Ecommerce</span>
        </div>
      </div>

      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img
            src="../assets/icons/aplications.svg"
            alt="Aplications"
            class="animate__pic"
          />
          <span class="animate__pic-name">Aplications</span>
        </div>
      </div>

      <div class="animate__column">
        <div class="animate__line"></div>
        <div class="animate__box">
          <img
            src="../assets/icons/multi.svg"
            alt="Multi-Tenant"
            class="animate__pic"
          />
          <span class="animate__pic-name">Multi-Tenant</span>
        </div>
      </div>
    </div>
  </div>
</section>
